@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
:root {
  --base: #ffc600;
  --shadow: -4px -4px 104px 0px var(--base);
  --blur: 2px;
}
body {
  text-align: center;
  background: #ffffff;
  color: #666;
  font-family: 'Dancing Script', cursive;
  font-weight: 30;
  font-size: 28px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}
img {
  box-shadow: var(--shadow);
  background-color: var(--base);
  filter: blur(var(--blur));
}
#h1 {
  color: var(--base);
}
